body {
  background-color: #121212;
  color: #ffffff;
}

.card {
  background-color: #1e1e1e !important;
  color: white !important;
  border: 1px solid #333 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}